include .gitignore
include CMakeLists.txt
include LICENSE
include README.md
include docs/conf.py
include docs/index.rst
include docs/make.bat
include docs/veloxml/modules.rst
include docs/veloxml/veloxml.base.rst
include docs/veloxml/veloxml.core.rst
include docs/veloxml/veloxml.kmeans.rst
include docs/veloxml/veloxml.linear.rst
include docs/veloxml/veloxml.pca.rst
include docs/veloxml/veloxml.rst
include docs/veloxml/veloxml.svm.rst
include docs/veloxml/veloxml.tree.rst
include include/base/base_binding.hpp
include include/base/classification_base.hpp
include include/base/estimator_base.hpp
include include/base/regression_base.hpp
include include/base/unsupervised_base.hpp
include include/kdtree/kdtree.hpp
include include/kmeans/bindings/kmeans.hpp
include include/kmeans/kmeans.hpp
include include/linear/bindings/elasticnet_regression.hpp
include include/linear/bindings/lasso_regression.hpp
include include/linear/bindings/linear_regression.hpp
include include/linear/bindings/logistic_regression.hpp
include include/linear/bindings/ridge_regression.hpp
include include/linear/elasticnet_regression.hpp
include include/linear/lasso_regression.hpp
include include/linear/linear_regression.hpp
include include/linear/logistic_regression.hpp
include include/linear/ridge_regression.hpp
include include/pca/bindings/pca.hpp
include include/pca/pca.hpp
include include/solver/lbfgs.hpp
include include/solver/newton_cg.hpp
include include/svm/bindings/svm_classification.hpp
include include/svm/svm_classification.hpp
include include/tree/bindings/decision_tree_classification.hpp
include include/tree/bindings/random_forest_classification.hpp
include include/tree/decision_tree_classification.hpp
include include/tree/random_forest_classification.hpp
include include/utils/function.hpp
include include/utils/utilities.hpp
include pytest.ini
include setup.py
include src/base/base_binding.cpp
include src/base/classification_base.cpp
include src/base/estimator_base.cpp
include src/base/regression_base.cpp
include src/base/unsupervised_base.cpp
include src/bindings.cpp
include src/kdtree/kdtree.cpp
include src/kmeans/kmeans.cpp
include src/linear/elasticnet_regression.cpp
include src/linear/lasso_regression.cpp
include src/linear/linear_regression.cpp
include src/linear/logistic_regression.cpp
include src/linear/ridge_regression.cpp
include src/main.cpp
include src/pca/pca.cpp
include src/solver/lbfgs.cpp
include src/solver/newton_cg.cpp
include src/svm/svm_classification.cpp
include src/tree/decision_tree_classification.cpp
include src/tree/random_forest_classification.cpp
include src/utils/function.cpp
include src/utils/utilities.cpp
include tests/conftest.py
include tests/kmeans/test_kmeans.cpp
include tests/linear/test_elasticnet_regression.cpp
include tests/linear/test_lasso_regression.cpp
include tests/linear/test_linear_regression.cpp
include tests/linear/test_logistic_regression.cpp
include tests/linear/test_ridge_regression.cpp
include tests/pca/test_pca.cpp
include tests/svm/test_svm_classification.cpp
include tests/test_main.cpp
include tests/testutils/function.cpp
include tests/testutils/function.hpp
include tests/testutils/test_data_utils.cpp
include tests/testutils/test_data_utils.hpp
include tests/tree/test_decision_tree_classification.cpp
include tests/tree/test_random_forest_classification.cpp
include tests/veloxml/core/tree/__init__.py
include tests/veloxml/linear/test_elasticnet_regression.py
include tests/veloxml/linear/test_lasso_regression.py
include tests/veloxml/linear/test_linear_regression.py
include tests/veloxml/linear/test_logistic_regression.py
include tests/veloxml/linear/test_ridge_regression.py
include tests/veloxml/tree/test_decision_tree_classification.py
include tests/veloxml/tree/test_random_forest_classification.py
include veloxml/__init__.py
include veloxml/base/__init__.py
include veloxml/base/classification_base.py
include veloxml/base/estimator_base.py
include veloxml/base/regression_base.py
include veloxml/base/unsupervised_base.py
include veloxml/core/__init__.py
include veloxml/kmeans/__init__.py
include veloxml/kmeans/kmeans.py
include veloxml/linear/__init__.py
include veloxml/linear/elasticnet_regression.py
include veloxml/linear/lasso_regression.py
include veloxml/linear/linear_regression.py
include veloxml/linear/logistic_regression.py
include veloxml/linear/ridge_regression.py
include veloxml/pca/__init__.py
include veloxml/pca/pca.py
include veloxml/svm/__init__.py
include veloxml/svm/svm_classification.py
include veloxml/tree/__init__.py
include veloxml/tree/decision_tree_classification.py
include veloxml/tree/random_forest_classification.py
exclude MANIFEST.in