recursive-exclude * *.cpp
recursive-exclude * *.hpp
include veloxml/__init__.py
include veloxml/base/__init__.py
include veloxml/base/classification_base.py
include veloxml/base/estimator_base.py
include veloxml/base/regression_base.py
include veloxml/base/unsupervised_base.py
include veloxml/core/__init__.py
include veloxml/kmeans/__init__.py
include veloxml/kmeans/kmeans.py
include veloxml/linear/__init__.py
include veloxml/linear/elasticnet_regression.py
include veloxml/linear/lasso_regression.py
include veloxml/linear/linear_regression.py
include veloxml/linear/logistic_regression.py
include veloxml/linear/ridge_regression.py
include veloxml/pca/__init__.py
include veloxml/pca/pca.py
include veloxml/svm/__init__.py
include veloxml/svm/svm_classification.py
include veloxml/tree/__init__.py
include veloxml/tree/decision_tree_classification.py
include veloxml/tree/random_forest_classification.py
exclude MANIFEST.in